{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  <!-- Fixed black header at the top -->
  <header class="gray-header" style="position: fixed; top: 0; left: 0; width: 100%; height: 12%; background-color: #252322; padding: 1px 1; text-align: center; color: white; z-index: 1000;">
    {{ partial "site-navigation.html" . }}
  </header>

  <!-- Content container with margin to account for the fixed header -->
  <div class="content" style="margin-top: 50px;"> <!-- Adjust margin-top as needed -->
    <!-- Image container with margins -->
    <div class="image-container" style="margin: 20px auto; max-width: 90%; border-radius: 10px; overflow: hidden;">
      <!-- Background image with smaller size -->
      <div class="cover bg-top" style="background-image: url('{{ $featured_image }}'); height: 70vh; background-size: cover; background-position: center;">
        <div style="height: 100%; background: none;">
          <div class="tc-l ph3 ph8-ns">
              {{ with .Params.description  }}
                <div class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
                  {{ . }}
                </div>
              {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}

